# Ops Math

In [1]:
s = 13
p = 2
mods = s % p
print(mods)

1

In [3]:
m = 5
n = 3
expon = m ** n
print(expon)

125

In [4]:
z = 50
z -=30
print(z)

20

In [5]:
z

20

In [6]:
q = 20
q *= 10
print(q)

200

In [7]:
c = 20
c += 10
print(c)

30

# Boolean

In [8]:
s = 5
t = 2
hasil = s > t
hasil2 = s < t
print(hasil)
print(hasil2)

True
False

# Ops math dengan tipe data yang berbeda

In [10]:
f = '3.7'
print(f)
print(f*2)

3.7
3.73.7

In [11]:
g = 3.7
print(g)
print(g*2)

3.7
7.4

# User input

In [14]:
nama = input('Masukkan nama:')
print(nama)

Masukkan nama: 30

30

In [15]:
nama

'30'

In [17]:
nama2 = input('Masukkan nama:')
print(nama2)

Masukkan nama: Rizki

Rizki

In [18]:
nama2

'Rizki'

In [19]:
print(type(nama))

<class 'str'>

In [20]:
umur = input('Umur kamu:')
print(umur)

Umur kamu: 17

17

In [21]:
print(type(umur))

<class 'str'>

# String formatting/casting

In [23]:
nama = input('Masukkan nama:')
print('nama kamu adalah'+' '+nama)

Masukkan nama: Rizki

nama kamu adalah Rizki

In [24]:
umur = input('Umur kamu:')
print('umur kamu adalah'+' '+umur)

Umur kamu: 17

umur kamu adalah 17

In [26]:
umur = int(input('Umur kamu:'))
print('umur kamu adalah'+' '+umur)

Umur kamu: 17

TypeError: can only concatenate str (not "int") to str

In [27]:
umur = int(input('Umur kamu:'))
print('umur kamu adalah'+' '+str(umur))

Umur kamu: 17

umur kamu adalah 17

In [28]:
umur = int(input('Umur kamu:'))
print('umur kamu adalah',umur)

Umur kamu: 17

umur kamu adalah 17

In [29]:
# Perbedaan aatau opsi untuk string formatting

In [30]:
nama2 = input('Masukkan nama:')
umur2 = input('Masukkan umur:')
text = 'Nama saya {}, dan saya berumur {} tahun'.format(nama2,umur2)
print(text)
text2 = 'Nama saya'+' '+nama2+' '+', dan saya berumur'+' '+umur2+' '+'tahun'
print(text2)
text3 = 'Nama saya',nama2,', dan saya berumur',umur2,'tahun'
print(text3)
print('Nama saya',nama2,', dan saya berumur',umur2,'tahun')

Masukkan nama: Rizki
Masukkan umur: 17

Nama saya Rizki, dan saya berumur 17 tahun
Nama saya Rizki , dan saya berumur 17 tahun
('Nama saya', 'Rizki', ', dan saya berumur', '17', 'tahun')
Nama saya Rizki , dan saya berumur 17 tahun

# String Operation

In [31]:
a = 'Hello World!'
print(a)

Hello World!

In [33]:
print(a[0])

H

In [34]:
print(a[4])

o

In [35]:
print(a[1:])

ello World!

In [36]:
print(a[5:])

 World!

In [37]:
print(a[1:5])

ello

In [42]:
print(a[:4])

Hell

In [39]:
print(len(a))

12

# Conditional If

In [43]:
a = 10
b = 15

if a > b:
    print('a lebih besar dari b')
elif a == b:
    print('a sama dengan b')
else:
    print('a lebih kecil dari b')

a lebih kecil dari b

In [45]:
c = 'Apel'
d = 'Jeruk'

if c != d:
    print('buah c berbeda dengan buah d')
else:
    print('buah c sama dengan buah d')

buah c berbeda dengan buah d

In [46]:
print(not True)
print(not False)

False
True

# List

In [47]:
mylist = []
print (mylist)

[]

In [48]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
mylist.append(100)
print(mylist)

[1, 2, 3, 100]

In [49]:
mylist =
mylist.append(1)
mylist.append(2)
mylist.append(3)
mylist.append(100)
print(mylist)

SyntaxError: invalid syntax (<ipython-input-49-a49188b11220>, line 1)

In [50]:
print(len(mylist))

4

In [51]:
mylist2 = []
mylist2.append('a')
mylist2.append('b')
print(mylist2)

['a', 'b']

In [52]:
print(len(mylist2))

2

In [54]:
print(mylist2[0])

a

In [55]:
# for loop in list

In [57]:
for a in mylist:
    print('Nilai:'+' '+str(a))

Nilai: 1
Nilai: 2
Nilai: 3
Nilai: 100

In [59]:
for x in mylist2:
    print('Nilai:',x)

Nilai: a
Nilai: b

In [60]:
print('Nilai:',mylist[0])
print('Nilai:',mylist[1])
print('Nilai:',mylist[2])
print('Nilai:',mylist[3])

Nilai: 1
Nilai: 2
Nilai: 3
Nilai: 100

In [61]:
for z in range(1,11):
    print(z)

1
2
3
4
5
6
7
8
9
10

# Pengayaan

Buat program kalkulator sederhana dengan menu penjumlahan, pengurangan, perkalian, pembagian dengan menggunakan user input dan conditional if

In [65]:
operasi = input('Silahkan pilih menu= 1:Penjumlahan, 2:Pengurangan, 3:Perkalian, 4:Pembagian, 5:Keluar')

if operasi == '1':
    x = int(input('Masukkan angka ke-1:'))
    y = int(input('Masukkan angka ke-2'))
    print('Nilai {} + {}'.format(x,y),'=',x+y)
    print('==========================')
elif operasi == '2':
    x = int(input('Masukkan angka ke-1:'))
    y = int(input('Masukkan angka ke-2'))
    print('Nilai {} - {}'.format(x,y),'=',x-y)
    print('==========================')
elif operasi == '3':
    x = int(input('Masukkan angka ke-1:'))
    y = int(input('Masukkan angka ke-2'))
    print('Nilai {} x {}'.format(x,y),'=',x*y)
    print('==========================')
elif operasi == '4':
    x = int(input('Masukkan angka ke-1:'))
    y = int(input('Masukkan angka ke-2'))
    print('Nilai {} : {}'.format(x,y),'=',x/y)
    print('==========================')
elif operasi == '5':
    print('\nOke, terima kasih telah menggunakan kalkulator ini')
    print('==========================')
else:
    print('\nMaaf, pilihan menu angka tidak ada')
    print('==========================')

Silahkan pilih menu= 1:Penjumlahan, 2:Pengurangan, 3:Perkalian, 4:Pembagian, 5:Keluar 5

Oke, terima kasih telah menggunakan kalkulator ini
==========================